ul{
    display: none;
}

input:checked  ~ ul{
    display: block;
    position: relative;
    z-index: 100px;
}
}

input:checked ~ 
input{
    display: none;
}

ul{
    background-color: aqua;
    margin: 0;
    height: 300px;
}

li{
    visibility: collapse;
}

input:checked ~ li{
    visibility: visible;
}