:root{
    --color-botones: #F3603B;
    --color-titulos: #232C50;
    --color-nav: #242E52;
    --color-parrafos: #B3B2B7;
    --color-footer: #1E1E26;
    --color-p-footer: #FFFFFF;
    --contenedor-opiniones: #FAFAFA;

}

*{
   font-family: 'Be Vietnam Pro', sans-serif;
}

/*estilos para elementos generales*/
h1, h2, h3{
    color: var(--color-titulos);
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: var(--color-parrafos);
    line-height: 30px;
}
ul li{
    list-style: none;
}

button{
    background-color: var(--color-botones);
    border-radius: 20px;
    height: 44px;
    width: 134px;
    border: none;
    color: var(--color-p-footer);
    font-weight: bold;
}

button:hover{
    background-color: rgba(243,96,59, 0.8);
    box-shadow: 0 4px 2px 2.8px rgba(243,96,59, 0.25);
}

/*fondo version mobille*/
.contenedor1{
    background-image: url(sources/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-y: -100px;
    background-position-x: 60px;
}

/*header*/
header{
   padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: none;
}

.logo{
    height: 20px;
}

/*otras secciones*/
.seccion1 img{
   margin-top: 80px;
   height: 160px;
   width: 160px;
}
.bloque1{
    display: flex;
    justify-content: center;
    height: 150px;
}

.fondo-imagenes{
    display: flex;
    justify-content: center;
}
.seccion1 img{
    height: 300px;
    width: 300px;
}

.seccion2 h1{
   text-align: center;
   font-size: 40px;
   margin-top: 50px;
   padding: 0 10px;
}

.seccion2 p{
    margin: 0 30px 0 50px;
    font-size: 18px;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.seccion3{
    position: relative;
    bottom: 70px;
}

.seccion3 h2{
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    padding: 0 20px;
}

.seccion3 p{
    margin: 30px 40px 0 50px;
    text-align: center;
}

.seccion-diferencias{
    display: flex;
    margin-top: 30px;
    box-sizing: border-box;
}

.seccion-diferencias h3{
    font-size: 16px;
    height: 35px;
    width: 900px;
    padding: 12px 0 0 20px;
    position: relative;
    right: 10px;
}
.seccion-diferencias button{
    width: 170px;
    height: 45px;
    position: relative;
    top: 16px;
    margin: 0 0 0 15px; 
}

.diferencias p{
    text-align: left;
    box-sizing: border-box;
    margin: 10px 5px 0 15px;
}

/*opiniones*/
.opiniones{
    text-align: center;
}

.contenedor-opiniones{
    background-color: var(--contenedor-opiniones);
    position: relative;
    bottom: 60px;
    height: 250px;
    margin: 0 20px;
    padding-top: 100px;
}
.opiniones h2{
    font-size: 38px;
    margin-bottom: 60px;
    font-weight: 700;
    padding: 0 10px 20 10px;
}

.opiniones img{
    height: 110px;
    position: relative;
    z-index: 100;
}

.opiniones h3{
    font-size: 24px;
}

.opiniones p{
    margin: 0 30px;
}

.persona{
    display: none;
}

.puntos-slider{
    display: flex;
    justify-content: center;
}
.slider{
    background-color: var(--color-botones);
    height: 10px;
    width: 10px;
    border-radius: 100px;
    margin-left: 30px;
    border: var(--color-parrafos) solid 2px;
}
/*#slider{
    background-color: #F3603B;
}
#slider2:checked ~ .persona2{
   display: block;
}*/

.seccion4{
    height: 500px;
    background-color: var(--color-botones);
}

.seccion4 p{
    font-size: 50px;
    color: var(--color-p-footer);
    text-align: center;
    padding: 100px 20px 0;
    height: 200px;
    line-height: 70px;
    font-weight: bold;
}

.seccion4 .boton{
    margin-top: 10px;
}
.seccion4 button{
    background-color: var(--color-p-footer);
}

.seccion4 button:hover{
    background-color: rgba(248, 182, 166, 0.9);
}
.seccion4 button a{
    color: var(--color-botones);
}

/*footer*/
footer{
    background-color: var(--color-footer);
}
.lista-footer ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  font-size: 18px;
  margin-top: 80px;
}

.lista-footer a:hover{
    color: var(--color-botones);
}

footer form{
    display: flex;
    justify-content: space-around;
    padding: 80px 20px 0 20px;
}

#email, #button{
    border-radius: 30px;
    border: none;
}
#email{
    height: 50px;
    width: 270px;
}

#email::placeholder{
    padding: 5px 0 0 20px;
    color: var(--color-parrafos);
}

#button{
    width: 80px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: var(--color-botones);
    color: white;
}

.lista-footer{
    color: var(--color-p-footer); 
}

.redes-sociales{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.redes-sociales img{
    height: 35px;
}

.logo-footer{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

@media(max-width:1099px){ /*min width 460 0 500*/
    #icon-hambur:hover{
        cursor: pointer;
    }
    #menu:checked  ~ ul{
        display: block;
    }
    
    #menu{
        display: none;
    }
    
    nav ul{
        background-color: var(--color-p-footer);
        height: 800px;
        width: 700px;
        position: fixed;
        z-index: 100;
        top: 60px;
        left: 20px;
    }
    
    nav li{
        font-size: 30px;
        margin: 90px 0 0 70px;
    }
    
    nav a{
        color: var(--color-nav);
    }
    
    nav a:hover{
        color: var(--color-botones);
    }

    .boton-1{
        display: none;
    }

    .seccion2{
        background-image: url(sources/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: 300px;
        height: 400px;
        background-position-x: 240px;
        background-position-y: 100px;
    }

    .seccion-diferencias h3{
        background-color: rgba(248,143,119, 0.2);
    }
}

@media (min-width:1100px){
    .logo{
        position: relative;
        top: 20px;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    nav a{
        color: var(--color-nav);
        font-weight: bold;
    }
    
    nav a:hover{
        color: var(--color-parrafos);
    }

    .atributo-menu{
     margin-right: 20px;
    }
    
    .boton-1{
        position: relative;
        bottom: 30px;
    }
   #menu{
       display: none;
   }

   #icon-hambur{
       display: none;
   }

   /*fondo principal*/
   .contenedor1{
    background-size: 600px;
    background-position-y: -170px;
    background-position-x: 890px;
}
   .fondo-principal{
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-around;
   }

   .seccion1 img{
       height: 400px;
       width: 500px;
   }

   .seccion2{
      width: 500px;
      margin-top: 60px;
   }

   .seccion2 h1{
       text-align: left;
       font-size: 55px;
   }

   .seccion2 p{
       text-align: left;
       margin-left: 15px;
   }

   .seccion2 .boton{
    justify-content: left;
    margin-left: 15px;
   }

   .seccion3{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 150px;
   }

   .diferencias{
       width: 450px;
       margin-left: 100px;
   }

   .diferencias h2{
       text-align: left;
   }

   .diferencias-section{
       margin-top: 40px;
   }

   .seccion-diferencias button{
       width: 145px;
       height: 35px;
       position: relative;
       right: 100px;
   }

   .seccion-diferencias h3{
       position: relative;
       right: 90px;
   }

   .fondo2{
       background-image: url(sources/bg-tablet-pattern.svg);
       background-repeat: no-repeat;
       background-size: 700px;
       background-position-y: 300px;
       background-position-x: -350px;
   }

   .opiniones{
       margin-bottom: 100px;
   }

   .seccion-opiniones{
       display: flex;
   }

   .persona{
       display: block;
   }

   .puntos-slider{
       display: none;
   }

   .boton2{
     position: relative;
     bottom: 50px;
   }

   /*seccion4*/
   .seccion4{
       height: 224px;
       display: flex;
       justify-content: space-around;
   }

   .seccion4 p{
       text-align: left;
       font-size: 40px;
       width: 450px;
       padding: 0;
   }

   .seccion4 .boton{
       display: flex;
       align-items: center;
   }

   footer{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
   }

   .logo-footer{
       width: 40px;
       height: 20px;
       margin: 35px 0 0 60px;
   }

 .redes-sociales{
     position: absolute;
     left: 100px;
     margin-top: 200px;
 }

 .redes-sociales a{
     margin-left: 10px;
 }

 .redes-sociales img{
     height: 22px;
 }

 footer p{
     display: none;
 }

 footer #button{
     height: 40px;
     width: 60px;
     margin-top: 5px;
 }
}